<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title></title>
</head>
<body>
	<h1>Clubs Homepage</h1>

	<a href="/clubs/new">Create a New Club</a>
	<ul>
		<li>
			
		</li>
	</ul>
</body>
</html>