<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title></title>
</head>
<body>
	<h1>Clubs Homepage</h1>

	<a href="/clubs/new">Create a New Club</a>
	<ul>
		<% for (var i = 0; i < clubs.length; i++) { -%>
			<li>
				<a href="/clubs/<%=clubs[i].id%>"><%= clubs[i].name %></a> <br>
				Type: <%= clubs[i].type %> <br>
				Size: <%= clubs[i].size %> <br>
			</li>	
		<% } -%>
	</ul>
</body>
</html>