<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Create a New Club</h1>

	<form action="/clubs" method="POST">
		Name: <input type="text" name="name"> <br>
		Type: <input type="text" name="type"> <br>
		Size: <input type="text" name="size"> <br>
		<input type="submit" value="Submit New Club"> <br>
	</form>

</body>
</html>